/* font-family: 'Playfair Display', serif;
/*font-family: 'Open Sans', sans-serif; 
* 
    padding: 0
    margin: 0
    box-sizing: border-box
body
    font-family: 'Open Sans', sans-serif
h1, h2, h3, h4, h5, h6 
    font-family: 'Playfair Display', serif
ul
    list-style: none
a 
    text-decoration: none
.container
    width: 1200px
    margin: auto
/* Header
.header
    height: 130px
    padding: 0 20px
    display: flex
    align-items: center
    position: relative
    background-color: #353436
.header__menu-serviz
    position: absolute
    top: 5px
    right: 20px
    z-index: 1
    display: flex
    align-items: center

.header__menu-serviz-text
    margin-right: 13px
    font-size: 14px
    line-height: 24px
    color: #fff
    font-weight: 400
/* Nav
.nav
    width: 465px
    position: absolute
    right: 20px
    bottom: 20px
.nav__ul
    display: flex
    justify-content: space-between
    li > a
            position: relative
            font-size: 18px
            line-height: 24px
            color: #e2d1a6
            font-weight: 700
            &:after
                display: block
                position: absolute
                left: 0
                width: 0
                height: 3px
                background-color: #fff
                content: ""
                transition: width 0.3s ease-out
            &:hover
                color: #fff
                transition: color .3s linear
            &:hover:after  
                width: 100%
//Main
.main__container
    position: relative
//Slick
.slick-slide 
    &:focus, &:hover, &:active *
        border: none
        outline: none
.slick-dots
    bottom: 40px
    li button
        width: 14px
        height: 14px
        border-radius: 7px
        background-color: #fff
        border: 1.5px solid #000
        &::before
            display: none
    .slick-active button
        background-color: #e2d1a6
//Aside
.main__aside
    position: absolute
    top: 250px
    right: 0
    width: 510px
    padding: 20px 25px
    display: flex
    flex-direction: column
    background: rgba(255, 255, 255, .9)
.main__aside-title
    display: inline-block
    width: 458px
    margin-bottom: 30px
    font-size: 30px
    line-height: 24px
    color: #020202
    font-weight: 700
    font-style: italic
    text-transform: uppercase
.main__aside-text
    display: inline-block
    width: 458px
    font-size: 18px
    line-height: 24px
    color: #000
    font-weight: 400
// Content
.main__content
    position: relative
    top: -30px
    color: #000
.main__content-arrow
    position: absolute
    top: -29px
    left: 50%
    transform: translateX(-50%)
    width: 88px
    height: 29px
    display: flex
    justify-content: center
    align-items: center
    background-color: #fff
    div
        width: 27px
        height: 3px
        background: #000
    &:hover
        cursor: pointer
.main__content-arrow__left-close
    transform: rotate(40deg) translateX(4.5px)
.main__content-arrow__left-active
    transform: rotate(-40deg) translateX(4.5px)
.main__content-arrow__right-close
    transform: rotate(-40deg) translateX(-4.5px)
.main__content-arrow__right-active
    transform: rotate(40deg) translateX(-4.5px)
.main__content-wrapper
    position: absolute
    display: flex
    justify-content: space-between
    padding: 0 20px
//.main__content-wrapper-active
//    bottom: 100%
.main__content-item
    padding: 15px 15px 10px 20px
    &:nth-child(1)
        background: #e1d1a5
        .main__content-item__caption
            color: #fff
    &:nth-child(2)
        background: #fff
    &:nth-child(3)
        background: #000
        color: #fff
.main__content-item__title
    min-height: 55px
    font-size: 28px
    line-height: 30px
    font-weight: 700
    margin-bottom: 10px
.main__content-item__text
    font-size: 16px
    line-height: 25px
    margin-bottom: 15px
.main__content-item__caption
    text-align: right
//Footer
.footer
    position: relative
    z-index: 100
    background: #353436
    padding: 35px 0 15px
.footer__wrapper
    width: 1200px
    padding: 0 135px
    margin: 0 auto
    display: flex
    justify-content: space-between
.footer__bottom-panel
    width: 1200px
